/* This is where we can override simple settings made by UIkit. However, if we
 * want to override anything major, we would need to add customisations to the
 * UIkit source code and re-build the CSS distribution using LESS.
 */

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #f6f6ff;
}

/*
.uk-navbar-nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
*/

html {
  /* 1 */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 3 */
/* Try something other than pure white:   background: #fff;
   (try slightly yellow background for increased contrast).
   */
  background: #fffff8;
  color: #666;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
  margin: 0 0 20px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: none;
}


/*

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

font-family: 'Roboto', sans-serif;

*/